<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>dstr</display-name>

    <distributable/>

    <welcome-file-list>
        <welcome-file>admin/home.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>item</servlet-name>
        <jsp-file>/item.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>item</servlet-name>
        <url-pattern>/item</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>adminHome</servlet-name>
        <jsp-file>/admin/home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminHome</servlet-name>
        <url-pattern>/admin/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>adminCustomers</servlet-name>
        <jsp-file>/admin/customers.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminCustomers</servlet-name>
        <url-pattern>/admin/customers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>adminOrders</servlet-name>
        <jsp-file>/admin/orders.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminOrders</servlet-name>
        <url-pattern>/admin/orders</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>adminItems</servlet-name>
        <jsp-file>/admin/items.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminItems</servlet-name>
        <url-pattern>/admin/items</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>customerHome</servlet-name>
        <jsp-file>/customer/home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>customerHome</servlet-name>
        <url-pattern>/customer/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>customerMakeOrder</servlet-name>
        <jsp-file>/customer/makeorder.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>customerMakeOrder</servlet-name>
        <url-pattern>/customer/makeOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>customerOrders</servlet-name>
        <jsp-file>/customer/orders.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>customerOrders</servlet-name>
        <url-pattern>/customer/showOrders</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>customerItems</servlet-name>
        <jsp-file>/customer/items.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>customerItems</servlet-name>
        <url-pattern>/customer/showItems</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>HZ_HOSTS</param-name>
        <param-value>3</param-value>
    </context-param>
    <context-param>
        <param-name>HZ_HOST_1</param-name>
        <param-value>tomcatsvr1</param-value>
    </context-param>
    <context-param>
        <param-name>HZ_HOST_2</param-name>
        <param-value>tomcatsvr2</param-value>
    </context-param>
    <context-param>
        <param-name>HZ_HOST_3</param-name>
        <param-value>tomcatsvr3</param-value>
    </context-param>
    <context-param>
        <param-name>HZ_PORT</param-name>
        <param-value>5701</param-value>
    </context-param>

    <context-param>
        <param-name>MONGO_HOSTS</param-name>
        <param-value>3</param-value>
    </context-param>
    <context-param>
        <param-name>MONGO_HOST_1</param-name>
        <param-value>mongosvr1</param-value>
    </context-param>
    <context-param>
        <param-name>MONGO_HOST_2</param-name>
        <param-value>mongosvr2</param-value>
    </context-param>
    <context-param>
        <param-name>MONGO_HOST_3</param-name>
        <param-value>mongosvr3</param-value>
    </context-param>
    <context-param>
        <param-name>MONGO_PORT</param-name>
        <param-value>27017</param-value>
    </context-param>
    <context-param>
        <param-name>MONGO_DB</param-name>
        <param-value>dstr</param-value>
    </context-param>
    <context-param>
        <param-name>MONGO_USER</param-name>
        <param-value>dstrDbAdmin</param-value>
    </context-param>
    <context-param>
        <param-name>MONGO_PASSWORD</param-name>
        <param-value>1234</param-value>
    </context-param>

    <context-param>
        <param-name>POSTGRES_HOST</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>POSTGRES_PORT</param-name>
        <param-value>5432</param-value>
    </context-param>
    <context-param>
        <param-name>POSTGRES_DB</param-name>
        <param-value>dstr</param-value>
    </context-param>
    <context-param>
        <param-name>POSTGRES_USER</param-name>
        <param-value>dstrdbadmin</param-value>
    </context-param>
    <context-param>
        <param-name>POSTGRES_PASSWORD</param-name>
        <param-value>1234</param-value>
    </context-param>

    <!-- Run Context Listeners in order -->
    <listener>
        <listener-class>listener.PostgresContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>listener.MongoContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>listener.HzContextListener</listener-class>
    </listener>
</web-app>