<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>dstr</display-name>

    <distributable/>

    <!-- Files to load on home -->
    <welcome-file-list>
        <welcome-file>/WEB-INF/jsp/home.jsp</welcome-file>
    </welcome-file-list>

    <!-- Run listeners in order, as Hz uses Mongo connection -->
    <listener>
        <listener-class>com.dstr.listener.MongoContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.dstr.listener.HzContextListener</listener-class>
    </listener>

    <!-- Distributed session with Hazelcast -->
    <filter>
        <filter-name>hazelcast-filter</filter-name>
        <filter-class>com.hazelcast.web.WebFilter</filter-class>

        <!-- Name of the distributed map storing for web session objects -->
        <init-param>
            <param-name>map-name</param-name>
            <param-value>my-sessions</param-value>
        </init-param>
        <!-- Name of session id cookie -->
        <init-param>
            <param-name>cookie-name</param-name>
            <param-value>hazelcast.sessionId</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>hazelcast-filter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>com.hazelcast.web.SessionListener</listener-class>
    </listener>

    <!-- Hazelcast context params -->
    <context-param>
        <param-name>HZ_HOSTS</param-name>
        <param-value>3</param-value>
    </context-param>
    <context-param>
        <param-name>HZ_HOST_1</param-name>
        <param-value>tomcatsvr1</param-value>
    </context-param>
    <context-param>
        <param-name>HZ_HOST_2</param-name>
        <param-value>tomcatsvr2</param-value>
    </context-param>
    <context-param>
        <param-name>HZ_HOST_3</param-name>
        <param-value>tomcatsvr3</param-value>
    </context-param>
    <context-param>
        <param-name>HZ_PORT</param-name>
        <param-value>5705</param-value>
    </context-param>

    <!-- MongoDB context params -->
    <context-param>
        <param-name>MONGO_HOSTS</param-name>
        <param-value>3</param-value>
    </context-param>
    <context-param>
        <param-name>MONGO_HOST_1</param-name>
        <param-value>mongosvr1</param-value>
    </context-param>
    <context-param>
        <param-name>MONGO_HOST_2</param-name>
        <param-value>mongosvr2</param-value>
    </context-param>
    <context-param>
        <param-name>MONGO_HOST_3</param-name>
        <param-value>mongosvr3</param-value>
    </context-param>
    <context-param>
        <param-name>MONGO_PORT</param-name>
        <param-value>27017</param-value>
    </context-param>
    <context-param>
        <param-name>MONGO_DB</param-name>
        <param-value>dstr</param-value>
    </context-param>
    <context-param>
        <param-name>MONGO_USER</param-name>
        <param-value>dstrDbAdmin</param-value>
    </context-param>
    <context-param>
        <param-name>MONGO_PASSWORD</param-name>
        <param-value>1234</param-value>
    </context-param>

    <!-- PostgreSQL context params -->
    <context-param>
        <param-name>POSTGRES_HOST</param-name>
        <param-value>thinkpad</param-value>
    </context-param>
    <context-param>
        <param-name>POSTGRES_PORT</param-name>
        <param-value>5432</param-value>
    </context-param>
    <context-param>
        <param-name>POSTGRES_DB</param-name>
        <param-value>dstr</param-value>
    </context-param>
    <context-param>
        <param-name>POSTGRES_USER</param-name>
        <param-value>dstrdbadmin</param-value>
    </context-param>
    <context-param>
        <param-name>POSTGRES_PASSWORD</param-name>
        <param-value>1234</param-value>
    </context-param>

    <!-- Handle 404 errors and exceptions with predefined Servlet -->
    <error-page>
        <error-code>404</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error</location>
    </error-page>

    <!-- Filter all incoming requests to validate the session -->
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.dstr.filter.AuthenticationFilter</filter-class>
        <init-param>
            <param-name>public</param-name>
            <param-value>
                /home
                /item
                /items
                /error
                /favicon.ico
            </param-value>
        </init-param>
        <init-param>
            <param-name>authFalse</param-name>
            <param-value>
                /login
                /register
            </param-value>
        </init-param>
        <init-param>
            <param-name>authTrue</param-name>
            <param-value>
                /order
                /order/status
                /orders
                /logout
            </param-value>
        </init-param>
        <init-param>
            <param-name>customerPrivate</param-name>
            <param-value>
                /order/add
                /order/edit
                /order/delete
            </param-value>
        </init-param>
        <init-param>
            <param-name>adminPrivate</param-name>
            <param-value>
                /item/add
                /item/edit
                /item/delete
                /customer
                /customer/status
                /customers
            </param-value>
        </init-param>
        <init-param>
            <param-name>publicResources</param-name>
            <param-value>
                /resources
            </param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Set custom encoding for all incoming requests -->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.dstr.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
